extends layout2

block content
  .content
    h1= isEdit ? "Editar Produto" : "Cadastrar Produto"
    form.pure-form.pure-form-stacked(action=isEdit ? "/editar" : "/cadastro", method="POST")
      fieldset
        input(type="hidden", name="id", value=produto ? produto.id : "")

        label(for="nome") Nome do Produto:
        input(type="text", id="nome", name="nome", value=produto ? produto.nome : "", required autocomplete="off")

        label(for="descricao") Descrição:
        input(type="text", id="descricao", name="descricao", value=produto ? produto.descricao : "", required autocomplete="off")

        label(for="preco") Preço:
        input(type="number", step="0.01", id="preco", name="preco", value=produto ? produto.preco : "", required autocomplete="off")

        button.pure-button.pure-button-primary(type="submit")= isEdit ? "Atualizar Produto" : "Cadastrar Produto"

    a(href="/produtos") Voltar para Produtos
