extends layout2

block content
  .content
   h1 Boas-vindas, #{nome}!
   p Esta é a sua página inicial. Aqui você pode ver suas informações e navegar pelo sistema.

    if produtos.length
      .card-produtos
        each produto in produtos
          .card-produto
            h4= produto.nome
            p Descrição: #{produto.descricao}
            p Preço: R$ #{produto.preco}
    else
      p Nenhum produto disponível no momento.
    
    .button-container
      a.pure-menu-link(href=`/cadastro?authToken=${authToken}`) Cadastro
